<!-- Top Navbar -->
<nav class="navbar fixed-top navbar-inverse bg-inverse">
  <a class="btn btn-primary hamburger-menu" href="#" role="button" (click)="isToggled = !isToggled;">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </a>
</nav>

<div id="wrapper" [ngClass]="{'toggled': isToggled}">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
                        Start Bootstrap
                    </a>
      </li>
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <a href="#">Shortcuts</a>
      </li>
      <li>
        <a href="#">Overview</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row row-first pb-1">

  <div class="col-lg-6 pr-1">
    <div class="card card-inverse" style="background-color: #333; border-color: #333; width: 100%; height: 100%">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-lg-6 pl-1">
    <div class="card card-inverse" style="background-color: #333; border-color: #333; width: 100%; height: 100%">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div class="row row-first">

  <div class="col-lg-6 pr-1">
    <div class="card card-inverse" style="background-color: #333; border-color: #333; width: 100%; height: 100%">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-lg-6 pl-1">
    <div class="card card-inverse" style="background-color: #333; border-color: #333; width: 100%; height: 100%">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

</div>
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->